
.editnews {
   
    width: 1200px;
    height: auto;
    margin:0 auto;
    margin-top: 20px;
}
.editnews .edit-new{
    margin-left: 100px;
    width: 1200px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
}
.editnews .edit-new div{
    width: 500px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.editnews .edit-new a{
    
}
.editnews .edit-new a input{
    font-size: 20px;
    margin-left: 200px;
}
.editnews .edit-new:last-child{
    margin-bottom: 100px;
}
