.deletebox{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.deletebox .delete-box{
    width: 1200px;
    height: 50px;
}
.deletebox .delete-box div{
    display: inline-block;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 100px;
}
.deletebox .delete-box .deletebtn {
    
}