body .thingsbox{
    margin-top: 20px;
    width: 1200px;
    margin:0 auto;
    overflow: hidden;
    margin-top: 20px;
    
}
body .thingsbox .banner{
    position: relative;
}
body .thingsbox .banner .banner-img li{
    display: none;
    position: absolute;
}
body .thingsbox .banner .banner-img li a img{
    width: 590px;
    height: 300px;
}
body .thingsbox .banner .banner-img li a p{
    position: absolute;
    display: block;
    height: 30px;
    width: 590px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    background-color: rgb(191, 209, 205);
    top: 270px;
}
body .thingsbox .banner .banner-img li:first-child{
    display: inline;
}
body .thingsbox .banner .banner-radio{
    display: none;
}

body .thingsbox .banner .banner-radio .banner-radio-left{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -280px;
    cursor: pointer;
}
body .thingsbox .banner .banner-radio  .banner-radio-right{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -32px;
    margin-right: -280px;
    cursor: pointer;
}
body .thingsbox .banner .banner-under{
    top: 250px;
    right: 20px;
    position: absolute;
    overflow: hidden;
}
body .thingsbox .banner .banner-under li{
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: darkgray;
    float: left;
    margin-right: 10px;
}
body .thingsbox .banner .banner-under li.under-active{
    background-color: cyan;
}
body .thingsbox .thingbox:first-child{
    width: 590px;
    padding-left: 0px;
}
body .thingsbox .thingbox:nth-child(2){
    width: 590px;
    padding-left: 0px;
    text-align: center;
}
body .thingsbox .thingbox{
    width: 570px;
    float: left;
    padding-left: 20px;
    height: 300px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
}
body .thingsbox .thingbox h2{
    text-align: center;
}
body .thingsbox .thingbox:nth-child(2n){
    margin-right: 0px;
    margin-left: 10px;
}

body .thingsbox .thingbox .more{
    position: absolute;
    right: 0;
    top: 40px;
}
body .thingsbox .newthing {

}
body .thingsbox .newthing h2{
    margin-top: 0;
    margin-bottom: 0;
}
body .thingsbox .thingbox .newsbox {
    overflow: hidden;
}
body .thingsbox .thingbox .newsbox a .index-title{
    clear: both;
    float: left;
    width: 280px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body .thingsbox .thingbox .newsbox .index-time{
    float: right;
    width: 200px;
    height: 24px;
}
body .footer{
    width: 1200px;
    margin: 0 auto;
}
body .footer .friend-link ul{
    overflow: hidden;
}
body .footer .friend-link ul li{
    float: left;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    margin-right: 10px;
}
body .footer .friend-link ul li:last-child{
    margin-right: 0px;
}
body .footer .status-footer ul{
    margin: 40px 0 20px 560px;
    overflow: hidden;
}
body .footer .status-footer ul li{
    float: left;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}
body .footer .status-footer ul li:hover{
    text-decoration: underline;
}
body .footer .status-footer ul li:last-child{
    margin-right: 0px;
}
